<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0px" height="0px">
    <defs>
        <linearGradient id="button-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(171,199,219)"/>
            <stop offset="100%" stop-color="rgb(117,166,200)"/>
        </linearGradient>
                        
        <linearGradient id="button-gradient-hover" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(117,166,200)"/>
            <stop offset="100%" stop-color="rgb(117,166,200)"/>
        </linearGradient>
        
        <linearGradient id="button-gradient-down" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(171,199,219)"/>
            <stop offset="100%" stop-color="rgb(190,217,240)"/>
            <!--stop offset="0%" stop-color="rgb(117,166,200)"/>
            <stop offset="100%" stop-color="rgb(171,199,219)"/-->
        </linearGradient>
        
        <linearGradient id="button-border-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(167,188,207)"/>
            <stop offset="100%" stop-color="rgb(92, 120, 144)"/>
        </linearGradient>
                        
        <filter id="drop-shadow" width="1.4" height="1.4">
            <feOffset result="offset" in="SourceAlpha" dx="0" dy="0.015"/>
            <feGaussianBlur result="blurred-offset" in="offset" stdDeviation="0.015"/>
            <feBlend in="SourceGraphic" in2="blurred-offset" mode="normal"/>
        </filter>
        
        <filter id="drop-shadow-hover" width="1.4" height="1.4">
            <feOffset result="offset" in="SourceAlpha" dx="0" dy="0.015"/>
            <feGaussianBlur result="blurred-offset" in="offset" stdDeviation="0.017"/>
            <feBlend in="SourceGraphic" in2="blurred-offset" mode="normal"/>
        </filter>
    </defs>        
    <style type="text/css">
        g.button { cursor: pointer; }
        g.button>circle {
            fill: url(#button-gradient);
            filter: url(#drop-shadow);
            stroke-width: 0.01;
            stroke: url(#button-border-gradient);
        }
        g.button>circle:hover {
            fill: url(#button-gradient-hover);
            filter: url(#drop-shadow-hover);
        }
        g.button>circle.down {
            fill: url(#button-gradient-down);
        }
        g.button>polygon, g.button>rect {
            fill: white;
            fill-opacity: 0.9;
            pointer-events: none;
            stroke-width: 0.007;
            stroke: url(#button-border-gradient);
        }
        .timeline g.elapsed rect {
            fill: url(#button-gradient);
        }
        .timeline g.tape>rect {
            fill: black;
            fill-opacity: 0.2;
            pointer-events: none;
        }
    </style>
</svg>

<div class="container">
    <div class="row">
        <div class="timetable col-xs-9 col-md-10">
            <table class="table table-striped table-condensed">
                <thead>
                    <!--td><strong>ID</strong></td-->
                    <td><strong>Username</strong></td>
                    <td><strong>Day</strong></td>
                    <td><strong>Started</strong></td>
                    <td><strong>Ended</strong></td>
                    <td><strong>Duration</strong></td>
                    <!--td><strong>Created</strong></td-->
                    <!--td><strong>Updated</strong></td-->
                </thead>
                <tbody>
                {{#each view.timetable}}
                    <tr class="{{unbound _id}} details">
                        <!--td>{{_id}}</td-->
                        
                        <td rowspan="2" width="13%" style="vertical-align:middle">
                            <span class="glyphicon glyphicon-user"></span>
                            {{username}}
                        </td>
                        
                        <td rowspan="2" width="12%" style="vertical-align:middle">
                            {{#if startedAt}}
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{day startedAt}}
                            {{/if}}
                        </td>
                        
                        <td width="30%">
                            {{#if startedAt}}
                                <span class="glyphicon glyphicon-play"></span>
                                {{dateShort startedAt}}
                                {{#unless endedAt}}
                                    ({{datetime startedAt}})
                                {{/unless}}
                            {{/if}}
                        </td>
                        
                        <td width="30%">
                            {{#if endedAt}}
                                <span class="glyphicon glyphicon-stop"></span>
                                {{dateShort endedAt}}
                            {{/if}}
                        </td>
                        
                        <td rowspan="2" width="15%" style="font-size:150%;vertical-align:middle">
                            {{#if duration}}
                                {{#if endedAt}}
                                    <span class="glyphicon glyphicon-time"></span>
                                {{else}}
                                    <span class="glyphicon glyphicon-record"></span>
                                {{/if}}
                                {{dateShort duration}}
                            {{/if}}
                        </td>
                        
                        <!--td>
                            {{#if createdAt}}
                                {{dateShort createdAt}} ({{datetime createdAt}})
                            {{/if}}
                        </td-->
                        <!--td>
                            {{#if updatedAt}}
                                {{dateShort updatedAt}} ({{datetime updatedAt}})
                            {{/if}}
                        </td-->
                    </tr>
                    <tr class="{{unbound _id}} timeline">
                        <td colspan="2" style="padding:0;margin:0;border:none;line-height:10px;min-height:10px" height="10px">
                            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" onclick="classList.toggle('expanded')">
                                {{#each entries}}
                                <g class="elapsed"><svg x="0px" y="0px" width="100%" height="10px">
                                    <rect fill="#4096EE" x="{{unbound xxx startedAt}}" y="0px" width="{{unbound yyy startedAt endedAt}}" height="100%"/>
                                </svg></g>
                                {{/each}}
                                <g class="tape">
                                {{#times 23}}
                                    <rect x="{{unbound zzz this}}" y="3px" width="1px" height="4px"/>
                                {{/times}}
                                </g>
                                {{#ifCondBound entries.length "<" 1}}
                                <g class="details">
                                    {{#each_with_index entries}}
                                    <g class="elapsed"><svg x="0px" y="10px" width="100%" height="20px">
                                        <text x="{{unbound xxx startedAt}}" height="100%" text-anchor="end">{{unbound dateShort startedAt}}</text>
                                        <rect fill="#4096EE" x="{{unbound xxx startedAt}}" y="0px" width="{{unbound yyy startedAt endedAt}}" height="100%"/>
                                        {{#if endedAt}}
                                        <text x="{{unbound xxx endedAt}}" height="100%" text-anchor="start">{{unbound dateShort endedAt}}</text>
                                        {{/if}}
                                    </svg></g>
                                    {{/each_with_index}}
                                </g>
                                {{/ifCondBound}}
                            </svg>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        
        <div class="actions col-xs-3 col-md-2">
            <form action="javascript://void(0);" {{action "xxx" on="submit"}}>
                <label>
                    {{input value="" type="submit" class="hidden"}}
                    <svg width="120px" height="120px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        {{#if view.content.[0].endedAt}}
                        <svg viewBox="0 0 1 1" width="100%" height="100%">
                            <g class="button" role="button">
                                <circle cx="0.5" cy="0.5" r="0.45" onmousedown="this.classList.add('down')" onmouseup="this.classList.remove('down')"></circle>
                                <polygon points="0.375,0.25 0.725,0.5 0.375,0.75"></polygon>
                            </g>
                        </svg>
                        {{else}}
                        <svg viewBox="0 0 1 1" width="100%" height="100%">
                            <g class="button" role="button">
                                <circle cx="0.5" cy="0.5" r="0.45" onmousedown="this.classList.add('down')" onmouseup="this.classList.remove('down')"></circle>
                                <rect x="0.3" y="0.3" width="0.4" height="0.4"></rect>
                            </g>
                        </svg>
                        {{/if}}
                    </svg>
                </label>
            </form>
        </div>
    </div>
</div>
