<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0px" height="0px">
    <defs>
        <linearGradient id="button-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(171,199,219)"/>
            <stop offset="100%" stop-color="rgb(117,166,200)"/>
        </linearGradient>
                        
        <linearGradient id="button-gradient-hover" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(117,166,200)"/>
            <stop offset="100%" stop-color="rgb(117,166,200)"/>
        </linearGradient>
        
        <linearGradient id="button-gradient-down" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(171,199,219)"/>
            <stop offset="100%" stop-color="rgb(190,217,240)"/>
            <!--stop offset="0%" stop-color="rgb(117,166,200)"/>
            <stop offset="100%" stop-color="rgb(171,199,219)"/-->
        </linearGradient>
        
        <linearGradient id="button-border-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(167,188,207)"/>
            <stop offset="100%" stop-color="rgb(92, 120, 144)"/>
        </linearGradient>
                        
        <filter id="drop-shadow" width="1.4" height="1.4">
            <feOffset result="offset" in="SourceAlpha" dx="0" dy="0.015"/>
            <feGaussianBlur result="blurred-offset" in="offset" stdDeviation="0.015"/>
            <feBlend in="SourceGraphic" in2="blurred-offset" mode="normal"/>
        </filter>
        
        <filter id="drop-shadow-hover" width="1.4" height="1.4">
            <feOffset result="offset" in="SourceAlpha" dx="0" dy="0.015"/>
            <feGaussianBlur result="blurred-offset" in="offset" stdDeviation="0.017"/>
            <feBlend in="SourceGraphic" in2="blurred-offset" mode="normal"/>
        </filter>
    </defs>        
    <style type="text/css">
        g.button { cursor: pointer; }
        g.button>circle {
            fill: url(#button-gradient);
            filter: url(#drop-shadow);
            stroke-width: 0.01;
            stroke: url(#button-border-gradient);
        }
        g.button>circle:hover {
            fill: url(#button-gradient-hover);
            filter: url(#drop-shadow-hover);
        }
        g.button>circle.down {
            fill: url(#button-gradient-down);
        }
        g.button>polygon, g.button>rect {
            fill: white;
            fill-opacity: 0.9;
            pointer-events: none;
            stroke-width: 0.007;
            stroke: url(#button-border-gradient);
        }
        .timeline g.elapsed rect {
            fill: rgb(62, 109, 185);//url(#button-gradient);
        }
    </style>
</svg>

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-md-10">
            <table class="timetable table table-striped table-condensed">
                <thead>
                    <!--td width="13%"><strong>Username</strong></td-->
                    <td width="12%"><strong>Day</strong></td>
                    <td width="60%"><strong>Started/Ended</strong></td>
                    <td width="15%"><strong>Duration</strong></td>
                </thead>
                <tbody>
                {{#eachIndexed entry in view.timetable}}
                    <tr class="details details_{{index}}" data-id="{{unbound entry._id}}" onclick="classList.toggle('expanded')">
                        <!--td class="username">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>{{entry.username}}</span>
                        </td-->
                        
                        <td class="date">
                            {{#if entry.startedAt}}
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="day transition">{{day entry.startedAt}}</span>
                                <span class="short transition">{{dateShort entry.startedAt}}</span>
                            {{/if}}
                        </td>
                        
                        <td class="time">
                            <span class="hours transition">
                            {{#if entry.startedAt}}
                                <span class="glyphicon glyphicon-play"></span>
                                <span>{{timeShort entry.startedAt}}</span>
                                {{#unless entry.endedAt}}
                                    <span>({{datetime entry.startedAt}})</span>
                                {{/unless}}
                            {{/if}}
                            {{#if entry.endedAt}}
                                &nbsp;
                                <span class="glyphicon glyphicon-stop"></span>
                                <span>{{timeShort entry.endedAt}}</span>
                            {{/if}}
                            </span>
                        
                            <svg class="timeline timeline_rows_{{unbound entry.entries.length}} transition" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <g class="background"><svg x="0px" y="0px" width="100%" height="100%">
                                    <rect class="light" x="0" y="0" width="100%" height="100%"/>
                                    <rect class="dark" x="0" y="0" width="33.33%" height="100%"/>
                                    <rect class="dark" x="83.33%" y="0" width="16.66%" height="100%"/>
                                </svg></g>
                                {{#eachIndexed entry.entries}}
                                <g class="elapsed elapsed_{{index}} transition"><svg x="0px" y="0px" width="100%" height="10px">
                                    <rect fill="#4096EE" x="{{unbound xxx startedAt}}" y="0px" width="{{unbound yyy startedAt endedAt}}" height="100%"/>
                                </svg></g>
                                {{/eachIndexed}}
                                <g class="tape"><svg x="0px" y="0px" width="100%" height="100%">
                                    {{#times 24}}
                                    <rect x="{{unbound zzz this}}" y="0px" width="1px" height="100%"/>
                                    {{/times}}
                                </svg></g>
                                <!--g class="details">
                                    {{#eachIndexed entry.entries}}
                                    <g class="elapsed"><svg x="0px" y="10px" width="100%" height="20px">
                                        <text x="{{unbound xxx startedAt}}" height="100%" text-anchor="end">{{unbound timeShort startedAt}}</text>
                                        <rect fill="#4096EE" x="{{unbound xxx startedAt}}" y="0px" width="{{unbound yyy startedAt endedAt}}" height="100%"/>
                                        {{#if endedAt}}
                                        <text x="{{unbound xxx endedAt}}" height="100%" text-anchor="start">{{unbound timeShort endedAt}}</text>
                                        {{/if}}
                                    </svg></g>
                                    {{else}}
                                    {{/eachIndexed}}
                                </g-->
                            </svg>
                        </td>
                        
                        <td class="duration">
                            {{#if entry.duration}}
                                {{#if entry.endedAt}}
                                    <span class="glyphicon glyphicon-time"></span>
                                {{else}}
                                    <span class="glyphicon glyphicon-record"></span>
                                {{/if}}
                                <span>{{timeShort entry.duration}}</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/eachIndexed}}
                </tbody>
            </table>
        </div>
        
        <div class="actions col-xs-3 col-md-2">
            <form action="javascript://void(0);" {{action "xxx" on="submit"}}>
                <label>
                    {{input value="" type="submit" class="hidden"}}
                    <svg width="120px" height="120px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        {{#if view.content.[0].endedAt}}
                        <svg viewBox="0 0 1 1" width="100%" height="100%">
                            <g class="button" role="button">
                                <circle cx="0.5" cy="0.5" r="0.45" onmousedown="this.classList.add('down')" onmouseup="this.classList.remove('down')"></circle>
                                <polygon points="0.375,0.25 0.725,0.5 0.375,0.75"></polygon>
                            </g>
                        </svg>
                        {{else}}
                        <svg viewBox="0 0 1 1" width="100%" height="100%">
                            <g class="button" role="button">
                                <circle cx="0.5" cy="0.5" r="0.45" onmousedown="this.classList.add('down')" onmouseup="this.classList.remove('down')"></circle>
                                <rect x="0.3" y="0.3" width="0.4" height="0.4"></rect>
                            </g>
                        </svg>
                        {{/if}}
                    </svg>
                </label>
            </form>
        </div>
    </div>
</div>
