<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0px" height="0px">
    <defs>
        <linearGradient id="button-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(171,199,219)"/>
            <stop offset="100%" stop-color="rgb(117,166,200)"/>
        </linearGradient>
                        
        <linearGradient id="button-gradient-hover" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(117,166,200)"/>
            <stop offset="100%" stop-color="rgb(117,166,200)"/>
        </linearGradient>
        
        <linearGradient id="button-gradient-down" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(171,199,219)"/>
            <stop offset="100%" stop-color="rgb(190,217,240)"/>
            <!--stop offset="0%" stop-color="rgb(117,166,200)"/>
            <stop offset="100%" stop-color="rgb(171,199,219)"/-->
        </linearGradient>
        
        <linearGradient id="button-border-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="rgb(167,188,207)"/>
            <stop offset="100%" stop-color="rgb(92, 120, 144)"/>
        </linearGradient>
                        
        <filter id="drop-shadow" width="1.4" height="1.4">
            <feOffset result="offset" in="SourceAlpha" dx="0" dy="0.015"/>
            <feGaussianBlur result="blurred-offset" in="offset" stdDeviation="0.015"/>
            <feBlend in="SourceGraphic" in2="blurred-offset" mode="normal"/>
        </filter>
        
        <filter id="drop-shadow-hover" width="1.4" height="1.4">
            <feOffset result="offset" in="SourceAlpha" dx="0" dy="0.015"/>
            <feGaussianBlur result="blurred-offset" in="offset" stdDeviation="0.017"/>
            <feBlend in="SourceGraphic" in2="blurred-offset" mode="normal"/>
        </filter>
    </defs>        
    <style type="text/css">
        g.button { cursor: pointer; }
        g.button>circle {
            fill: url(#button-gradient);
            filter: url(#drop-shadow);
            stroke-width: 0.01;
            stroke: url(#button-border-gradient);
        }
        g.button>circle:hover {
            fill: url(#button-gradient-hover);
            filter: url(#drop-shadow-hover);
        }
        g.button>circle.down {
            fill: url(#button-gradient-down);
        }
        g.button>polygon, g.button>rect {
            fill: white;
            fill-opacity: 0.9;
            pointer-events: none;
            stroke-width: 0.007;
            stroke: url(#button-border-gradient);
        }
        g.elapsed>rect {
            fill: url(#button-gradient);
        }
        g.timeline>rect {
            fill: black;
            fill-opacity: 0.2;
            pointer-events: none;
        }
    </style>
</svg>

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-md-10">
            <table class="table table-striped table-condensed">
                <thead>
                    <!--td><strong>ID</strong></td-->
                    <td><strong>Username</strong></td>
                    <td><strong>Day</strong></td>
                    <td><strong>Started</strong></td>
                    <td><strong>Ended</strong></td>
                    <!--td><strong>Created</strong></td-->
                    <!--td><strong>Updated</strong></td-->
                </thead>
                <tbody>
                {{#each view.content}}
                    <tr>
                        <!--td>{{_id}}</td-->
                        <td>
                            <span class="glyphicon glyphicon-user"></span>
                            {{username}}
                        </td>
                        <td>
                            {{#if startedAt}}
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{day startedAt}}
                            {{/if}}
                        </td>
                        <td width="35%">
                            {{#if startedAt}}
                                <span class="glyphicon glyphicon-play"></span>
                                {{dateShort startedAt}}
                                {{#unless endedAt}}
                                    ({{datetime startedAt}})
                                {{/unless}}
                            {{/if}}
                        </td>
                        <td width="35%">
                            {{#if endedAt}}
                                <span class="glyphicon glyphicon-stop"></span>
                                {{dateShort endedAt}}
                            {{/if}}
                        </td>
                        <!--td>
                            {{#if createdAt}}
                                {{dateShort createdAt}} ({{datetime createdAt}})
                            {{/if}}
                        </td-->
                        <!--td>
                            {{#if updatedAt}}
                                {{dateShort updatedAt}} ({{datetime updatedAt}})
                            {{/if}}
                        </td-->
                    </tr>
                    <tr>
                        <td colspan="6" style="padding:0;margin:0;border:none;line-height:10px;height:10px">
                            <svg width="100%" height="10px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <g class="elapsed">
                                    <rect fill="#4096EE" stroke="#000000" stroke-width="0" x="{{unbound xxx startedAt}}" y="0px" width="{{unbound yyy startedAt endedAt}}" height="100%"/>
                                </g>
                                <g class="timeline">
                                {{#times 23}}
                                    <rect x="{{unbound zzz this}}" y="25%" width="1px" height="50%"/>
                                {{/times}}
                                </g>
                            </svg>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        
        <div class="col-xs-3 col-md-2">
            <form action="javascript://void(0);" {{action "xxx" on="submit"}}>
                <label>
                    {{input value="" type="submit" class="hidden"}}
                    <svg width="120px" height="120px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        {{#if view.content.[0].endedAt}}
                        <svg viewBox="0 0 1 1" width="100%" height="100%">
                            <g class="button" role="button">
                                <circle cx="0.5" cy="0.5" r="0.45" onmousedown="this.classList.add('down')" onmouseup="this.classList.remove('down')"></circle>
                                <polygon points="0.375,0.25 0.725,0.5 0.375,0.75"></polygon>
                            </g>
                        </svg>
                        {{else}}
                        <svg viewBox="0 0 1 1" width="100%" height="100%">
                            <g class="button" role="button">
                                <circle cx="0.5" cy="0.5" r="0.45" onmousedown="this.classList.add('down')" onmouseup="this.classList.remove('down')"></circle>
                                <rect x="0.3" y="0.3" width="0.4" height="0.4"></rect>
                            </g>
                        </svg>
                        {{/if}}
                    </svg>
                </label>
            </form>
        </div>
    </div>
</div>

<!--div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="intro">
                <h1>microscratch</h1>

                <p>Light Weight Web Application Framework using node.js, mongo, sockets, ember.js, ...</p>
            </div>

            <div class="action-area">
                <iframe src="http://ghbtns.com/github-btn.html?user=ApolloCrawler&repo=microscratch&type=watch&count=true&size=large"
                        height="30" width="120" frameborder="0" scrolling="0"
                        style="width:120px; height: 30px;" allowTransparency="true"></iframe>

                <iframe src="http://ghbtns.com/github-btn.html?user=ApolloCrawler&repo=microscratch&type=fork&count=true&size=large"
                        height="30" width="120" frameborder="0" scrolling="0"
                        style="width:120px; height: 30px;" allowTransparency="true"></iframe>

                <iframe src="http://ghbtns.com/github-btn.html?user=ApolloCrawler&type=follow&count=true&size=large"
                        height="30" width="240" frameborder="0" scrolling="0"
                        style="width:240px; height: 30px;" allowTransparency="true"></iframe>
            </div>

            <div class="instructions">

                <h3>Install grunt and bower</h3>
                <pre>sudo npm install -g bower mocha mocha-phantomjs phantomjs grunt grunt-cli forever jsdoc@3.2.1</pre>

                <h3>Clone repository</h3>
                <pre>git clone http://github.com/korczis/microscratch.git</pre>

                <h3>Install required node modules</h3>

                <div class="row">
                    <div class="col-sm-5">
                        <pre>npm install</pre>
                    </div>

                    <div class="col-sm-1">
                        <h3 class="or">or</h3>
                    </div>

                    <div class="col-sm-6">
                        <pre>sudo npm install</pre>
                    </div>
                </div>

                <h3>Install Ruby Sass gem</h3>

                <div class="row">
                    <div class="col-sm-5">
                        <pre>gem install sass</pre>
                    </div>

                    <div class="col-sm-1">
                        <h3 class="or">or</h3>
                    </div>

                    <div class="col-sm-6">
                        <pre>sudo gem install sass</pre>
                    </div>
                </div>

                <h3>Install required bower modules</h3>
                <pre>bower install</pre>

                <h3>Compile assets</h3>
                <pre>grunt build</pre>

                <h3>Run application</h3>
                <pre>node app.js</pre>

            </div>

            <div class="footer">
                Created by <a href="http:">Apollo Crawler</a> 2014.
            </div>

        </div>
    </div>
</div-->
