<div class="container">
    <h2>Login</h2>

    <div class="row span7 center centered-text">
        <form action="javascript://void(0);" {{action "login" on="submit"}}>
            {{input value=username type="text"}}
            {{input value=password type="password"}}
            {{input type="submit"}}
        </form>

        <!--  a href="/auth/facebook"><img src="/img/sn/facebook_128.png" id="authFacebookLink"/></a>
        <a href="/auth/github"><img src="/img/sn/github_128.png" id="authGithubLink"/></a>
        <a href="/auth/google"><img src="/img/sn/google_128.png" id="authGoogleLink" /></a>
        <a href="/auth/linkedin"><img src="/img/sn/linkedin_128.png" id="authLinkedinLink" /></a>
        <a href="/auth/twitter"><img src="/img/sn/twitter_128.png" id="authTwitterLink" /></a>

        <a href="javascript://void(0);" {{action "guestLogin"}} id="authGuestLink">
            <img src="/img/sn/blank_128.png" alt="Guest Login" />
        </a -->
    </div>
</div>